<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome-3.2.1/font-awesome.min.css' />
    <link rel="stylesheet" href="/stylesheets/googleapis/googleapis.css" />
    <link rel="stylesheet" href="/stylesheets/space.css" />
    <script src="/javascripts/angular-1.7.8/angular.min.js"></script>
    <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="/javascripts/bootbox/bootbox.min.js"></script>
    <script src="/javascripts/view/common.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
